.carousel-container {
    position: relative;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 24px;
    padding: 16px;
    --outer-r: 24px;
    --p-distance: 12px;
    background: rgba(13, 7, 22, 0.2);
}

.carousel-track {
    display: flex;
}

.carousel-item {
    position: relative;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: calc(var(--outer-r) - var(--p-distance));
    background-color: #0d0716;
    overflow: hidden;
    cursor: grab;
    padding: 1rem;
}

.carousel-item:active {
    cursor: grabbing;
}

.carousel-container.round {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.carousel-item.round {
    background-color: #0d0716;
    position: relative;
    bottom: 0.1em;
    border: 1px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
}

.carousel-item-header.round {
    padding: 0;
    margin: 0;
}

.carousel-indicators-container.round {
    position: absolute;
    z-index: 2;
    bottom: 3em;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-indicator.active {
    background-color: #ffffff;
}

.carousel-indicator.inactive {
    background-color: rgba(255, 255, 255, 0.2);
}

.carousel-item-header {
    margin-bottom: 12px;
}

.carousel-icon-container {
    display: flex;
    height: 48px;
    width: 48px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
}

.carousel-icon {
    height: 24px;
    width: 24px;
    color: #fff;
}

.carousel-crypto-icon {
    width: 32px;
    height: 32px;
}

.carousel-item-content {
    width: 100%;
}

.carousel-item-title {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.carousel-item-description {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
}

.carousel-indicators-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.carousel-indicators {
    margin-top: 16px;
    display: flex;
    width: 150px;
    justify-content: space-between;
    padding: 0 32px;
}

.carousel-indicator {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 150ms;
}

.carousel-item.round .carousel-item-content {
    display: none;
}

.carousel-item.round .carousel-icon-container {
    width: 60%;
    height: 60%;
    background: none;
}